<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gemery.groupradioaddfragment">
 <!--网络请求 权限管理-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<!--本地持久数据的储存读写-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.example.gemery.ssww.AppExample"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon,android:name,android:label,android:theme"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.gemery.ssww.MainActivity">
        </activity>
        // 客户资料详情页
        <activity android:name="com.example.gemery.ssww.activities.CustomDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 名店列表页
        <activity android:name="com.example.gemery.ssww.activities.EStoreActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 基础面价页
        <activity android:name="com.example.gemery.ssww.activities.BasePriceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 基础面价搜索
        <activity android:name="com.example.gemery.ssww.activities.BPSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 价格条件列表显示页  及查询页
        <activity android:name="com.example.gemery.ssww.activities.EmpPListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.EmpPSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 销售礼包列表显示页 及查询页
        <activity android:name="com.example.gemery.ssww.activities.SGBagActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.SGBagListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 特殊价格列表显示页  及查询页
        <activity android:name="com.example.gemery.ssww.activities.SPecpListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.SPechSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 配送订单页
        <activity android:name="com.example.gemery.ssww.activities.DispatchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 配送单搜索页
        <activity android:name="com.example.gemery.ssww.activities.DispatchSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 配送详情订单页
        <activity android:name="com.example.gemery.ssww.activities.DispatchOrderDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        // 安装单列表
        <activity android:name="com.example.gemery.ssww.activities.InstallOrderListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 安装单搜索页
        <activity android:name="com.example.gemery.ssww.activities.InstallSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 安装单详情页
        <activity android:name="com.example.gemery.ssww.activities.InstOrdDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 订单 过滤查询
        <activity android:name="com.example.gemery.ssww.activities.OrderSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        // 库存详情页
        <activity android:name="com.example.gemery.ssww.activities.StorageItemDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 库存单搜索页
        <activity android:name="com.example.gemery.ssww.activities.StorageSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        // 员工资料页
        <activity android:name="com.example.gemery.ssww.activities.EmpMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.example.gemery.ssww.activities.WelcomeActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.SignUpActivity">

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.SignInActivity">

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.KnowledgeActivity">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.ListActivity">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.LinkedActivity">
        </activity>

        <service android:name="com.example.gemery.ssww.service.MsfService">
        </service>

        <activity android:name="com.example.gemery.ssww.activities.ContactActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.example.gemery.ssww.activities.SendMessageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.example.gemery.ssww.activities.CityActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.QueryActivity"
            android:icon="@mipmap/ic_launcher"  android:label="@string/app_name"
            android:logo="@drawable/kccx"></activity>

        <activity android:name="com.example.gemery.ssww.activities.PersonActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name="com.example.gemery.ssww.activities.ProductListActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.OrderEditActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.SearchProductActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.CustomInfoListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.CustomEditAcdtivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.AllOrderListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="com.example.gemery.ssww.activities.StorageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.OrderDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.example.gemery.ssww.activities.ProductDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>